{{- if eq .Values.app_settings.kafka_ui.enabled true }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: {{ .Values.images.kafka_ui.image }}:{{ .Values.images.kafka_ui.tag }}
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_CLUSTERS_0_NAME
              value: LOCAL_SPRING_CLOUD
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: PLAINTEXT://kafka-1.kafka:9092,PLAINTEXT://kafka-2.kafka:19092,PLAINTEXT://kafka-3.kafka:19092
            - name: KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL
              value: PLAINTEXT
            - name: KAFKA_CLUSTERS_0_SCHEMAREGISTRY
              value: http://schema-registry:8080
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: kafka-ui
  ports:
    - port: 8080
      targetPort: 8080
{{- end }}