.react-flow__node {
  --node-border-radius: 10px;
  border-radius: var(--node-border-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  min-width: 200px;
  font-family: "Fira Mono", Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  border-color: var(--mui-palette-secondary-main);
  border-width: 2px;
  border-style: solid;
  /* box-shadow: var(--node-box-shadow); */
}

.react-flow__node .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100px;
  padding: 10px;
  /* background-color: white; */
}

.react-flow__node .body .progress {
  position: relative;
  /* background-color: green; */
  left: 0px;
}

.react-flow__node .body .status-badge {
  position: relative;
  /* background-color: green; */
  left: 0px;
  align-self: flex-start;
}

.target-port-group {
  position: absolute;
  width: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #e94a05; */
}

.source-port-group {
  position: absolute;
  right: 0px;
  width: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #b4ea2b; */
}

.react-flow__handle {
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
  top: 0px;
  margin-top: 10px;
  position: relative;
}

.react-flow__handle.source {
  border-color: var(--mui-palette-primary-main);
  right: -15px;
}

.react-flow__handle.target {
  border-color: var(--mui-palette-secondary-main);
  left: -15px;
}

.react-flow__node .title {
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 1;
}

.react-flow__node .subline {
  font-size: 12px;
  color: #777;
}
