services:
  postgresql:
    container_name: temporal-postgresql
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:${POSTGRESQL_VERSION}
    networks:
      - temporal-network
    ports:
      - 5432:5432
    volumes:
      - postgresql-data:/var/lib/postgresql/data
  temporal:
    container_name: temporal
    depends_on:
      - postgresql
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      - DYNAMIC_CONFIG_FILE_PATH=/etc/temporal/config/dynamicconfig/development-sql.yaml
    image: temporalio/auto-setup:${TEMPORAL_VERSION}
    networks:
      - temporal-network
    ports:
      - 7233:7233
    volumes:
      - ./temporal/dynamicconfig:/etc/temporal/config/dynamicconfig
  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/admin-tools:${TEMPORAL_ADMINTOOLS_VERSION}
    networks:
      - temporal-network
    stdin_open: true
    tty: true
  temporal-ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    image: temporalio/ui:${TEMPORAL_UI_VERSION}
    networks:
      - temporal-network
    ports:
      - 38080:8080
  mosquitto:
    image: eclipse-mosquitto:latest
    ports:
      - 31883:1883
      - 31884:1884
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - mosquitto-log:/mosquitto/log
      - mosquitto-data:/mosquitto/data
#  eventstore-db:
#    image: docker.eventstore.com/eventstore/eventstore:24.10
#    environment:
#      - EVENTSTORE_CLUSTER_SIZE=1
#      - EVENTSTORE_RUN_PROJECTIONS=All
#      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
#      - EVENTSTORE_NODE_PORT=2113
#      - EVENTSTORE_INSECURE=true
#      - EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP=true
#    ports:
#      - 2113:2113
#    volumes:
#      - eventstore-data:/var/lib/eventstore
#      - eventstore-logs:/var/log/eventstore
networks:
  temporal-network:
    driver: bridge
    name: temporal-network
volumes:
  postgresql-data:
    driver: local
  mosquitto-log:
    driver: local
  mosquitto-data:
  eventstore-data:
  eventstore-logs: