spring.application.name: continuum-worker

spring:
  cloud:
    stream:
      binders:
        main-kafka-cluster:
          type: kafka
          default-candidate: false
          environment:
            spring.cloud.stream.kafka:
              binder:
                brokers: ${CONTINUUM_KAFKA_MAIN_BROKER_LIST}
                consumer-properties:
                  key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
                  # value.deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
                  value.deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
                  schema.registry.url: ${CONTINUUM_KAFKA_MAIN_SCHEMA_REGISTRY}
                  specific.avro.reader: true
                  auto.offset.reset: latest
                  fetch.max.wait.ms: 40000
                  request.timeout.ms: 60000
                producer-properties:
                  key.serializer: org.apache.kafka.common.serialization.StringSerializer
                  # value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
                  value.serializer: org.springframework.kafka.support.serializer.JsonSerializer
                  schema.registry.url: ${CONTINUUM_KAFKA_MAIN_SCHEMA_REGISTRY}
                  max.request.size: 104857600
                dlq-producer-properties:
                  key.serializer: org.apache.kafka.common.serialization.StringSerializer
                  # value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
                  value.serializer: org.springframework.kafka.support.serializer.JsonSerializer
                  schema.registry.url: ${CONTINUUM_KAFKA_MAIN_SCHEMA_REGISTRY}
                  max.request.size: 104857600
      bindings:
        continuum-core-event-WorkflowExecutionSnapshot-output:
          binder: main-kafka-cluster
          destination: continuum-core-event-WorkflowExecutionSnapshot
          content-type: application/json
          producer:
            use-native-encoding: true
  temporal:
    namespace: ${TEMPORAL_NAMESPACE:default}
    connection:
      target: ${TEMPORAL_SERVER_ADDRESS}
    workersAutoDiscovery:
      packages: com.continuum.core.worker
continuum.core:
  worker:

    aws-profile-name: ${CONTINUUM_AWS_PROFILE_NAME:continuum-worker }
    cache-bucket-name: ${CONTINUUM_CACHE_BUCKET_NAME:jarvis-dev-jarvis-stage-area-3a355f49}
    cache-bucket-base-path: ${CONTINUUM_CACHE_BUCKET_BASE_PATH:staging-data/test}
    cache-storage-path: ${CONTINUUM_CACHE_STORAGE_PATH:./.continuum-cache/workflow-data}
    knime:
      executable-path: ${CONTINUUM_KNIME_EXECUTABLE_PATH:/opt/knime/knime}
      workflow-storage-path: ${CONTINUUM_KNIME_WORKFLOW_STORAGE_PATH:./.continuum-cache/knime-workflows}
      workspace-storage-path: ${CONTINUUM_KNIME_WORKSPACE_STORAGE_PATH:./.continuum-cache/knime-workspaces}
logging:
  level:
    root: error
    com.continuum.core.worker: info
    com.continuum.core.commons.node: info