name: Generic-Module-Builder

on:
  workflow_call:
    inputs:
      module-name:
        description: 'The Gradle module to build (e.g., continuum-api-server)'
        required: true
        type: string
jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    outputs:
      module-name: ${{ inputs.module-name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build Gradle module
        run: |
          ./gradlew :${{ inputs.module-name }}:publish
          
          # Check if the Jib task exists for the module before attempting to run it
          if ./gradlew :${{ inputs.module-name }}:tasks --all | grep -q "jib "; then
            ./gradlew :${{ inputs.module-name }}:jib
          else
            echo "Jib task does not exist for module ${{ inputs.module-name }}, skipping."
          fi
        env:
          MAVEN_REPO_USERNAME: ${{ github.actor }}
          MAVEN_REPO_PASSWORD: ${{ secrets.GITHUB_TOKEN }}